// Jade
extends layout

block content
    div#content
        h2= title

        div(id="add")
            include add

        include dataVisualization

        div(id="list")
            table
                tr
                    th Date
                    th Type
                    th Value
                    th Description
                for transaction in business
                    tr
                        td= moment(transaction.day).format('DD/MM/YYYY')
                        td= transaction.type
                        td= transaction.value
                        td= transaction.description
            